/*------------------------------------
	[Table of contents]
	1. Body
	2. Header / #header
	3. Navigation / #navbar
	4. Content / #content
	5. Sidebar / #sidebar
	6. Search / #search
	7. Footer / #footer

--------------------------------------*/
.active-bg-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  transition: all .3s ease;
  top: 0; }

* {
  outline: 0 !important; }

img {
  margin: 0 auto !important; }

nav .open a {
  background-color: unset !important; }
  nav .open a:hover {
    background-color: unset !important; }
  nav .open a:focus {
    background-color: unset !important; }

.form-control:focus {
  box-shadow: unset;
  border-color: unset; }

@media (min-width: 1200px) {
  .container-menu {
    width: 1000px !important; } }
h5 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.navbar-collapse {
  padding-right: 0;
  padding-left: 0; }

.nav > li > a > img {
  max-width: 100%; }

.nav-pills > li + li {
  margin-left: 0; }

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  background-color: #fff; }

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background-color: unset !important; }

.show-search {
  opacity: 1 !important;
  visibility: visible !important; }

/*slick*/
.slider {
  width: 100%;
  margin: 0 auto; }

.slick-slide {
  margin: 0px 20px; }

.slick-slide {
  transition: all ease-in-out .3s;
  opacity: 1; }

.slick-active {
  opacity: 1; }

.slick-current {
  opacity: 1; }

/*end slick*/
ul.breadcrumb {
  padding: 15px 0;
  list-style: none;
  background: #fff; }

/* Display list items side by side */
ul.breadcrumb li {
  display: inline; }

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
  padding: 5px 10px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  color: black;
  color: #888888;
  content: ">"; }

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  color: black;
  color: #888888;
  text-decoration: none; }

ul.breadcrumb li:last-child a {
  color: black;
  font-weight: bold; }

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: black;
  text-decoration: none; }

@media all and (min-width: 320px) {
  .col-md-1:nth-child(12n+1), .col-md-2:nth-child(6n+1), .col-md-3:nth-child(4n+1), .col-md-4:nth-child(3n+1), .col-md-6:nth-child(2n+1),
  .col-lg-1:nth-child(12n+1), .col-lg-2:nth-child(6n+1), .col-lg-3:nth-child(4n+1), .col-lg-4:nth-child(3n+1), .col-lg-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1), .col-sm-2:nth-child(6n+1), .col-sm-3:nth-child(4n+1), .col-sm-4:nth-child(3n+1), .col-sm-6:nth-child(2n+1) {
    clear: none; }

  .col-xs-1:nth-child(12n+1), .col-xs-2:nth-child(6n+1), .col-xs-3:nth-child(4n+1), .col-xs-4:nth-child(3n+1), .col-xs-6:nth-child(2n+1) {
    clear: left; } }
@media all and (min-width: 768px) {
  .col-md-1:nth-child(12n+1), .col-md-2:nth-child(6n+1), .col-md-3:nth-child(4n+1), .col-md-4:nth-child(3n+1), .col-md-6:nth-child(2n+1),
  .col-lg-1:nth-child(12n+1), .col-lg-2:nth-child(6n+1), .col-lg-3:nth-child(4n+1), .col-lg-4:nth-child(3n+1), .col-lg-6:nth-child(2n+1),
  .col-xs-1:nth-child(12n+1), .col-xs-2:nth-child(6n+1), .col-xs-3:nth-child(4n+1), .col-xs-4:nth-child(3n+1), .col-xs-6:nth-child(2n+1) {
    clear: none; }

  .col-sm-1:nth-child(12n+1), .col-sm-2:nth-child(6n+1), .col-sm-3:nth-child(4n+1), .col-sm-4:nth-child(3n+1), .col-sm-6:nth-child(2n+1) {
    clear: left; } }
@media all and (min-width: 992px) {
  .col-sm-1:nth-child(12n+1), .col-sm-2:nth-child(6n+1), .col-sm-3:nth-child(4n+1), .col-sm-4:nth-child(3n+1), .col-sm-6:nth-child(2n+1),
  .col-lg-1:nth-child(12n+1), .col-lg-2:nth-child(6n+1), .col-lg-3:nth-child(4n+1), .col-lg-4:nth-child(3n+1), .col-lg-6:nth-child(2n+1),
  .col-xs-1:nth-child(12n+1), .col-xs-2:nth-child(6n+1), .col-xs-3:nth-child(4n+1), .col-xs-4:nth-child(3n+1), .col-xs-6:nth-child(2n+1) {
    clear: none; }

  .col-md-1:nth-child(12n+1), .col-md-2:nth-child(6n+1), .col-md-3:nth-child(4n+1), .col-md-4:nth-child(3n+1), .col-md-6:nth-child(2n+1) {
    clear: left; } }
@media (min-width: 1200px) {
  .col-md-1:nth-child(12n+1), .col-md-2:nth-child(6n+1), .col-md-3:nth-child(4n+1), .col-md-4:nth-child(3n+1), .col-md-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1), .col-sm-2:nth-child(6n+1), .col-sm-3:nth-child(4n+1), .col-sm-4:nth-child(3n+1), .col-sm-6:nth-child(2n+1),
  .col-xs-1:nth-child(12n+1), .col-xs-2:nth-child(6n+1), .col-xs-3:nth-child(4n+1), .col-xs-4:nth-child(3n+1), .col-xs-6:nth-child(2n+1) {
    clear: none; }

  .col-lg-1:nth-child(12n+1), .col-lg-2:nth-child(6n+1), .col-lg-3:nth-child(4n+1), .col-lg-4:nth-child(3n+1), .col-lg-6:nth-child(2n+1) {
    clear: left; } }
.panel {
  box-shadow: unset;
  border-radius: 0; }

/*--------------------------------ui----------------------------*/
.ui-slider .ui-slider-handle {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  cursor: pointer;
  background: none;
  background-color: black;
  border: none;
  outline: none; }

.ui-slider-range {
  background: none;
  background-color: black;
  border: none; }

#slider-3 {
  border: none;
  height: 5px;
  border-radius: 0;
  background: #9a9a9a; }

.range-p input {
  border: 0;
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  color: black;
  outline: 0; }

/*end*/
/*---------*/
.active-btn {
  background: black !important;
  color: #fff; }

/*custom select*/
.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px; }

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  color: black;
  width: 154px;
  height: 36px;
  margin-left: 20px; }

.select:nth-child(2) {
  width: 70px;
  height: 36px;
  margin-left: 0; }

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #eeeeee;
  padding: 8px 15px;
  transition: all 0.2s ease-in; }
  .select-styled:after {
    content: "\f107";
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 16px;
    font-weight: 600;
    font-family: Font Awesome\ 5 Free; }
  .select-styled:active:after, .select-styled.active:after {
    transform: rotate(180deg); }

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f2f2f2; }
  .select-options li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid #e6e6e6;
    transition: all 0.15s ease-in; }
    .select-options li:hover {
      color: #c0392b;
      background: #fff; }
    .select-options li[rel="hide"] {
      display: none; }

/*----end----*/
figure.bg-input {
  position: relative; }

figure.bg-input::before {
  content: '';
  display: inline-block;
  width: 60px;
  height: 36px;
  background: #eeeeee;
  position: absolute;
  bottom: 8px;
  z-index: -1;
  left: -15px; }

figure.bg-input::after {
  content: '';
  display: inline-block;
  width: 60px;
  height: 36px;
  background: #eeeeee;
  position: absolute;
  bottom: 8px;
  z-index: -1;
  left: 78px; }

/*------tab--------*/
.nav-tabs {
  border-bottom: 0; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border: 0;
  background-color: transparent; }

.nav-tabs > li > a {
  border: 0; }

/*----*/
@-webkit-keyframes shine-left {
  100% {
    right: 100%; } }
@keyframes shine-left {
  100% {
    right: 100%; } }
/*-----*/
@-webkit-keyframes shine-right {
  100% {
    left: 100%; } }
@keyframes shine-right {
  100% {
    left: 100%; } }
.carousel-caption {
  text-shadow: unset; }

header {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding: 30px 100px; }
  header .menu-main {
    position: relative;
    padding-top: 20px; }
    header .menu-main::before {
      position: absolute;
      width: 30px;
      height: 2px;
      background-color: black;
      bottom: 8px; }
      @media (max-width: 768px) {
        header .menu-main::before {
          display: none; } }
    header .menu-main li {
      padding-right: 22px; }
      header .menu-main li:first-child a {
        padding-left: 0; }
      header .menu-main li.menu-home .dropdown-menu {
        border-radius: 0;
        border: 0;
        display: block;
        visibility: hidden;
        opacity: 0;
        transition: all .35s ease;
        top: 70%; }
        header .menu-main li.menu-home .dropdown-menu.menu-home-lv2 {
          left: -20px;
          padding-left: 20px; }
          header .menu-main li.menu-home .dropdown-menu.menu-home-lv2 .li-home {
            list-style-type: none;
            padding: 10px 0; }
            header .menu-main li.menu-home .dropdown-menu.menu-home-lv2 .li-home i {
              visibility: hidden;
              opacity: 0;
              padding-right: 5px;
              transition: all .3s ease; }
              @media (min-width: 1025px) {
                header .menu-main li.menu-home .dropdown-menu.menu-home-lv2 .li-home i {
                  margin-left: -18px; } }
            header .menu-main li.menu-home .dropdown-menu.menu-home-lv2 .li-home a {
              display: inline-block;
              transition: all .3s ease;
              font-family: Poppins;
              font-weight: 400;
              font-size: 14px;
              color: black;
              color: grey; }
              header .menu-main li.menu-home .dropdown-menu.menu-home-lv2 .li-home a:hover {
                text-decoration: none;
                color: black;
                font-weight: 600; }
            header .menu-main li.menu-home .dropdown-menu.menu-home-lv2 .li-home:hover i {
              visibility: visible;
              opacity: 1;
              transform: translateX(18px); }
            header .menu-main li.menu-home .dropdown-menu.menu-home-lv2 .li-home:hover a {
              text-decoration: none;
              color: black;
              font-weight: 600;
              transform: translateX(18px); }
        header .menu-main li.menu-home .dropdown-menu .li-banner {
          padding: 20px 45px; }
          header .menu-main li.menu-home .dropdown-menu .li-banner img {
            width: 100%; }
      header .menu-main li.menu-home:hover .dropdown-menu {
        visibility: visible;
        opacity: 1;
        transform: translateY(15px); }
      header .menu-main li.shop-menu #shop-1 {
        position: absolute;
        width: 30px;
        height: 2px;
        background: black;
        bottom: 8px;
        left: 10px;
        visibility: hidden;
        opacity: 0; }
      header .menu-main li.shop-menu:hover #shop-1 {
        visibility: unset;
        opacity: 1;
        transform: translateX(5px);
        transition: all .35s ease; }
      header .menu-main li.shop-menu .dropdown-menu {
        border-radius: 0;
        border: 0;
        left: -336px;
        top: 70%;
        display: block;
        visibility: hidden;
        opacity: 0;
        transition: all .35s ease; }
        header .menu-main li.shop-menu .dropdown-menu ul {
          padding: 10px 0; }
          header .menu-main li.shop-menu .dropdown-menu ul a {
            font-family: Poppins;
            font-weight: 600;
            font-size: 14px;
            color: black; }
            header .menu-main li.shop-menu .dropdown-menu ul a:hover {
              text-decoration: none;
              opacity: .5; }
          header .menu-main li.shop-menu .dropdown-menu ul li {
            list-style-type: none; }
            header .menu-main li.shop-menu .dropdown-menu ul li .menu-home-lv2 ul .li-home {
              margin-left: -18px;
              padding: 10px 0; }
              @media (max-width: 1024px) {
                header .menu-main li.shop-menu .dropdown-menu ul li .menu-home-lv2 ul .li-home {
                  margin-left: 0; } }
              header .menu-main li.shop-menu .dropdown-menu ul li .menu-home-lv2 ul .li-home i {
                visibility: hidden;
                opacity: 0;
                padding-right: 5px;
                transition: all .3s ease; }
              header .menu-main li.shop-menu .dropdown-menu ul li .menu-home-lv2 ul .li-home.li-one {
                padding-top: 30px; }
              header .menu-main li.shop-menu .dropdown-menu ul li .menu-home-lv2 ul .li-home a {
                transition: all .3s ease;
                font-family: Poppins;
                font-weight: 400;
                font-size: 14px;
                color: black;
                color: grey; }
                header .menu-main li.shop-menu .dropdown-menu ul li .menu-home-lv2 ul .li-home a:hover {
                  text-decoration: none;
                  color: black;
                  font-weight: 600;
                  opacity: 1; }
              header .menu-main li.shop-menu .dropdown-menu ul li .menu-home-lv2 ul .li-home:hover i {
                visibility: visible;
                opacity: 1;
                transform: translateX(18px); }
              header .menu-main li.shop-menu .dropdown-menu ul li .menu-home-lv2 ul .li-home:hover a {
                display: inline-block;
                text-decoration: none;
                color: black;
                font-weight: 600;
                transform: translateX(18px); }
        header .menu-main li.shop-menu .dropdown-menu .li-banner {
          padding: 20px 20px 0 0; }
          header .menu-main li.shop-menu .dropdown-menu .li-banner img {
            width: 100%; }
      header .menu-main li.shop-menu:hover .dropdown-menu {
        visibility: visible;
        opacity: 1;
        transform: translateY(15px); }
      header .menu-main li.wedding-menu #wedding-1 {
        position: absolute;
        width: 30px;
        height: 2px;
        background: black;
        bottom: 8px;
        left: 10px;
        visibility: hidden;
        opacity: 0; }
      header .menu-main li.wedding-menu:hover #wedding-1 {
        visibility: unset;
        opacity: 1;
        transform: translateX(5px);
        transition: all .35s ease; }
      header .menu-main li.blog-menu #blog-1 {
        position: absolute;
        width: 30px;
        height: 2px;
        background: black;
        bottom: 8px;
        left: 10px;
        visibility: hidden;
        opacity: 0; }
      header .menu-main li.blog-menu:hover #blog-1 {
        visibility: unset;
        opacity: 1;
        transform: translateX(5px);
        transition: all .35s ease; }
      header .menu-main li.blog-menu .dropdown-menu {
        border-radius: 0;
        border: 0;
        display: block;
        visibility: hidden;
        opacity: 0;
        transition: all .35s ease;
        top: 70%; }
        header .menu-main li.blog-menu .dropdown-menu.menu-home-lv2 {
          left: -20px;
          padding: 0 20px;
          width: 300px; }
          header .menu-main li.blog-menu .dropdown-menu.menu-home-lv2 .li-home {
            list-style-type: none;
            padding: 10px 15px; }
            header .menu-main li.blog-menu .dropdown-menu.menu-home-lv2 .li-home i {
              visibility: hidden;
              opacity: 0;
              transition: all .3s ease; }
              @media (min-width: 1025px) {
                header .menu-main li.blog-menu .dropdown-menu.menu-home-lv2 .li-home i {
                  margin-left: -18px; } }
            header .menu-main li.blog-menu .dropdown-menu.menu-home-lv2 .li-home a {
              display: inline-block;
              transition: all .3s ease;
              font-family: Poppins;
              font-weight: 400;
              font-size: 14px;
              color: black;
              color: grey;
              padding-left: 5px; }
              header .menu-main li.blog-menu .dropdown-menu.menu-home-lv2 .li-home a:hover {
                text-decoration: none;
                color: black;
                font-weight: 600; }
            header .menu-main li.blog-menu .dropdown-menu.menu-home-lv2 .li-home:hover i {
              visibility: visible;
              opacity: 1;
              transform: translateX(18px); }
            header .menu-main li.blog-menu .dropdown-menu.menu-home-lv2 .li-home:hover a {
              text-decoration: none;
              color: black;
              font-weight: 600;
              transform: translateX(18px); }
        header .menu-main li.blog-menu .dropdown-menu .li-banner {
          padding: 20px 45px; }
          header .menu-main li.blog-menu .dropdown-menu .li-banner img {
            width: 100%; }
      header .menu-main li.blog-menu:hover .dropdown-menu {
        visibility: visible;
        opacity: 1;
        transform: translateY(15px); }
      header .menu-main li.contact-menu #contact-1 {
        position: absolute;
        width: 30px;
        height: 2px;
        background: black;
        bottom: 8px;
        left: 10px;
        visibility: hidden;
        opacity: 0; }
      header .menu-main li.contact-menu:hover #contact-1 {
        visibility: unset;
        opacity: 1;
        transform: translateX(5px);
        transition: all .35s ease; }
      header .menu-main li a {
        font-family: Poppins;
        font-weight: 300;
        font-size: 18px;
        color: black; }
        header .menu-main li a:hover {
          background-color: unset; }
        header .menu-main li a#home-menu {
          font-weight: 600; }
        header .menu-main li a:focus {
          background-color: unset; }
  header .icon-menu {
    position: relative;
    padding-top: 20px; }
    header .icon-menu::before {

      width: 20px;
      height: 20px;
      background-color: black;
      position: absolute;
      text-align: center;
      right: 18px;
      border-radius: 50%;
      top: 30px;
      color: white; }
    header .icon-menu li .fa-user {
      font-size: 22px;
      padding-right: 45px;
      color: black; }
    header .icon-menu li img {
      padding-right: 15px; }
      header .icon-menu li img#search-img {
        margin-right: 250px !important; }
        @media (max-width: 1600px) {
          header .icon-menu li img#search-img {
            margin-right: 140px !important; } }
        @media (max-width: 1024px) {
          header .icon-menu li img#search-img {
            margin-right: 34px !important; } }
    header .icon-menu li a:hover {
      background-color: unset; }
    header .icon-menu li a:focus {
      background-color: unset; }
    header .icon-menu li#input-search {
      position: relative; }
      header .icon-menu li#input-search .alert-search {
        position: absolute;
        width: 230px;
        top: 50px;
        right: 40px;
        background: rgba(255, 255, 255, 0.95);
        border: 0;
        border-radius: 0;
        padding: 0 25px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05); }
        header .icon-menu li#input-search .alert-search .close {
          position: absolute;
          top: 4px;
          right: 6px; }
        header .icon-menu li#input-search .alert-search .form-group {
          margin: 10px 0; }
          header .icon-menu li#input-search .alert-search .form-group .form-control {
            outline: 0;
            border: 0;
            border-radius: 0;
            box-shadow: none;
            padding-left: 20px;
            border-bottom: 1px solid grey; }

main .content-search {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding-top: 140px;
  padding-bottom: 130px;
  display: inline-block;
  z-index: 1; }
  main .content-search .container-100 {
    padding-right: 100px;
    padding-left: 100px;
    width: 100%; }
    main .content-search .container-100 .fa-times-circle {
      cursor: pointer;
      position: absolute;
      top: 30px;
      right: 100px;
      font-size: 50px;
      color: #ddd;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      main .content-search .container-100 .fa-times-circle:hover {
        color: black; }
    main .content-search .container-100 h3 {
      padding-bottom: 232px;
      font-family: Poppins;
      font-weight: bold;
      font-size: 50px;
      color: black;
      line-height: 70px;
      max-width: 400px;
      margin: 0 auto;
      text-transform: uppercase; }
    main .content-search .container-100 form {
      max-width: 850px;
      margin: 0 auto; }
      main .content-search .container-100 form input {
        outline: 0;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        padding-left: 20px;
        border-bottom: 1px solid #ddd;
        font-family: Poppins;
        font-weight: 400;
        font-size: 30px;
        color: black; }
        main .content-search .container-100 form input::-webkit-input-placeholder {
          font-family: Poppins;
          font-weight: 400;
          font-size: 30px;
          color: black;
          color: #ddd; }
      main .content-search .container-100 form .button_search {
        font-family: Abril Fatface;
        font-weight: 400;
        font-size: 18px;
        color: black;
        transition: all .3s ease-in-out 0.08s;
        color: white;
        padding: 10px 40px;
        background-color: black;
        border: 1px solid black;
        background-image: -webkit-linear-gradient(90deg, black 50%, transparent 50%);
        background-image: linear-gradient(90deg, black 50%, transparent 50%);
        background-size: 600px;
        background-repeat: no-repeat;
        background-position: 0%;
        -webkit-transition: background .3s ease-in-out;
        transition: background .3s ease-in-out;
        text-transform: uppercase;
        width: 130px;
        height: 45px;
        padding: 0;
        position: absolute;
        top: -12px;
        right: 0; }
        main .content-search .container-100 form .button_search:hover {
          background-position: 100%;
          background-color: #fff;
          color: black;
          text-decoration: none; }
main .sidebar-cart {
  padding-top: 50px;
  display: inline-block;
  overflow: hidden;
  position: fixed;
  width: 260px;
  right: -260px;
  height: 100%;
  background: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 1; }
  main .sidebar-cart .product-cart {
    display: inline-block;
    padding: 15px 5px; }
    main .sidebar-cart .product-cart .img-cart {
      float: left;
      width: 30%; }
    main .sidebar-cart .product-cart .info-cart {
      float: left;
      padding-left: 5px; }
      main .sidebar-cart .product-cart .info-cart h1 {
        font-family: Poppins;
        font-weight: 500;
        font-size: 14px;
        color: black;
        margin-top: 0; }
      main .sidebar-cart .product-cart .info-cart span {
        font-family: Poppins;
        font-weight: 500;
        font-size: 14px;
        color: black; }
        main .sidebar-cart .product-cart .info-cart span.prince-cart {
          font-weight: 600;
          padding-left: 10px; }
  main .sidebar-cart .fa-times-circle {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: #ddd;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    main .sidebar-cart .fa-times-circle:hover {
      color: black; }
main .carousel {
  position: relative;
  display: flex;
  height: 1080px; }
  main .carousel .carousel-inner {
    text-align: left; }
    main .carousel .carousel-inner .item {
      padding: 150px 90px 100px 100px;
      height: 100%; }
      main .carousel .carousel-inner .item h3 {
        font-family: Abril Fatface;
        font-weight: 400;
        font-size: 120px;
        color: black;
        text-align: left;
        padding: 100px 0 0 30px; }
        main .carousel .carousel-inner .item h3#h1 {
          padding: 0 0 10px 30px;
          margin-top: 0; }
        main .carousel .carousel-inner .item h3.clip-text {
          /* Color fallback */
          color: #fff;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-image: url("img/BG-title.jpg");
          background-position: -160px -170px; }
        main .carousel .carousel-inner .item h3.clip-text-2 {
          /* Color fallback */
          color: #fff;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-image: url("img/BG-title.jpg");
          background-position: -160px -316px; }
      main .carousel .carousel-inner .item p {
        font-family: Poppins;
        font-weight: 400;
        font-size: 18px;
        color: black;
        color: #888888;
        padding-left: 30px; }
        main .carousel .carousel-inner .item p#p1 {
          color: black;
          padding-top: 150px;
          margin-bottom: 0; }
      main .carousel .carousel-inner .item a {
        font-family: Abril Fatface;
        font-weight: 400;
        font-size: 18px;
        color: black;
        transition: all .3s ease-in-out 0.08s;
        color: white;
        padding: 10px 40px;
        background-color: black;
        border: 1px solid black;
        background-image: -webkit-linear-gradient(90deg, black 50%, transparent 50%);
        background-image: linear-gradient(90deg, black 50%, transparent 50%);
        background-size: 600px;
        background-repeat: no-repeat;
        background-position: 0%;
        -webkit-transition: background .3s ease-in-out;
        transition: background .3s ease-in-out;
        margin: 60px 0 0 30px;
        padding: 13px 40px;
        display: inline-block; }
        main .carousel .carousel-inner .item a:hover {
          background-position: 100%;
          background-color: #fff;
          color: black;
          text-decoration: none; }
  main .carousel .carousel-control {
    width: unset;
    background: unset;
    opacity: .5;
    top: 80%;
    right: unset; }
    main .carousel .carousel-control.right {
      background-image: unset;
      left: 210px; }
    main .carousel .carousel-control.left {
      background-image: unset;
      left: 150px; }
      main .carousel .carousel-control.left img {
        transform: rotateY(180deg); }
    main .carousel .carousel-control:focus {
      opacity: 1; }
    main .carousel .carousel-control:active {
      opacity: 1; }

@media (min-width: 1200px) {
  .modal-dialog {
    width: 974px;
    height: auto;
    margin: 160px auto; } }
.modal-dialog .modal-content {
  border-radius: 0;
  border: 0; }
  .modal-dialog .modal-content .close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 5px 9px;
    opacity: 1;
    border: 2px solid black;
    border-radius: 50%; }
  .modal-dialog .modal-content .text-popup {
    position: absolute;
    top: 20%;
    left: 8%; }
    .modal-dialog .modal-content .text-popup h1 {
      font-family: Abril Fatface;
      font-weight: 400;
      font-size: 30px;
      color: black; }
    .modal-dialog .modal-content .text-popup p {
      font-family: Poppins;
      font-weight: 400;
      font-size: 14px;
      color: black;
      color: #888888;
      padding-bottom: 30px; }
    .modal-dialog .modal-content .text-popup input[type="text"] {
      border-radius: 0;
      border: 1px solid #e9e9e9;
      padding-left: 20px;
      width: 370px; }
      .modal-dialog .modal-content .text-popup input[type="text"]::-webkit-input-placeholder {
        font-family: Poppins;
        font-weight: 400;
        font-size: 14px;
        color: black;
        color: #888888; }
    .modal-dialog .modal-content .text-popup button {
      outline: 0;
      border: 0;
      background: black;
      color: white;
      font-family: Abril Fatface;
      font-weight: 400;
      font-size: 18px;
      color: black;
      transition: all .3s ease-in-out 0.08s;
      color: white;
      padding: 10px 40px;
      background-color: black;
      border: 1px solid black;
      background-image: -webkit-linear-gradient(90deg, black 50%, transparent 50%);
      background-image: linear-gradient(90deg, black 50%, transparent 50%);
      background-size: 600px;
      background-repeat: no-repeat;
      background-position: 0%;
      -webkit-transition: background .3s ease-in-out;
      transition: background .3s ease-in-out;
      margin-top: 40px;
      margin-bottom: 120px; }
      .modal-dialog .modal-content .text-popup button:hover {
        background-position: 100%;
        background-color: #fff;
        color: black;
        text-decoration: none; }
    .modal-dialog .modal-content .text-popup input[type="checkbox"] {
      margin-right: 10px;
      opacity: 0; }
      .modal-dialog .modal-content .text-popup input[type="checkbox"]:checked ~ .checkmark {
        background: black; }
    .modal-dialog .modal-content .text-popup label {
      font-family: Poppins;
      font-weight: 400;
      font-size: 14px;
      color: black;
      color: #888888;
      position: relative;
      bottom: 8px; }
      .modal-dialog .modal-content .text-popup label .checkmark {
        position: absolute;
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 1px solid #888888;
        left: 5px;
        top: 8px;
        cursor: pointer; }

body {
  background-image: url("img/BG-v2.jpg");
  background-position: 0 0;
  height: auto;
  background-repeat: no-repeat; }

.slide-1 {
  background-image: url("img/BG-slide1-v2.png");
  background-position: -300px -90px;
  height: auto;
  background-repeat: no-repeat; }

.slide-2 {
  background-image: url("img/BG-slide2-v2.png");
  background-position: 0 0;
  height: auto;
  background-repeat: no-repeat; }

.slide-3 {
  background-image: url("img/BG-slide3-v2.png");
  background-position: -246px 0;
  height: auto;
  background-repeat: no-repeat; }

@media (max-width: 1600px) {
  .modal-dialog {
    margin: 66px auto; }

  header .menu-main li {
    padding-right: 0; }

  main .carousel .carousel-inner .item {
    padding: 150px 90px 100px 100px; }
    main .carousel .carousel-inner .item h3 {
      font-size: 80px;
      padding: 0; }
      main .carousel .carousel-inner .item h3#h1 {
        padding-left: 0; }
    main .carousel .carousel-inner .item p {
      font-size: 18px;
      padding-left: 0; }
      main .carousel .carousel-inner .item p#p1 {
        padding-top: 40px; }
    main .carousel .carousel-inner .item a {
      margin: 30px 0 0 0;
      padding: 10px 30px;
      font-size: 14px; }
  main .carousel .carousel-control {
    top: 586px; }
    main .carousel .carousel-control.left {
      left: 120px; }
    main .carousel .carousel-control.right {
      left: 180px; } }
@media (max-width: 1199px) {
  .modal-dialog {
    width: 800px; }
    .modal-dialog .modal-content .text-popup {
      top: 0%;
      left: 3%; }

  header .menu-main li {
    padding-right: 19px; }
    header .menu-main li a {
      font-size: 14px;
      padding: 15px 0; }
    header .menu-main li.shop-menu .dropdown-menu {
      left: -290px; }
  header img {
    width: 90%; }
    header img#search-img {
      width: 44%; }
  header .icon-menu li .fa-user {
    font-size: 18px; }

  main .carousel .carousel-inner .item {
    padding: 220px 90px 100px 100px; }
    main .carousel .carousel-inner .item h3 {
      font-size: 60px;
      padding: 0; }
      main .carousel .carousel-inner .item h3#h1 {
        padding-left: 0; }
    main .carousel .carousel-inner .item p {
      font-size: 14px;
      padding-left: 0; }
      main .carousel .carousel-inner .item p#p1 {
        padding-top: 40px; }
    main .carousel .carousel-inner .item a {
      margin: 30px 0 0 0;
      padding: 10px 30px;
      font-size: 14px; }
  main .carousel .carousel-control {
    top: 540px; }
    main .carousel .carousel-control.left {
      left: 120px; }
    main .carousel .carousel-control.right {
      left: 180px; } }
@media (max-width: 991px) {
  .modal-dialog {
    width: 700px; }

  header {
    padding: 30px 15px; }
    header .navbar-toggle {
      position: absolute;
      top: 44px;
      right: 43px;
      float: unset;
      margin: 0;
      padding: 0; }
      header .navbar-toggle .icon-bar {
        height: 3px;
        border-radius: 10%;
        background: black; }
    header .menu-mobile {
      position: absolute;
      background: #fff;
      top: 0;
      left: 0;
      height: 0;
      overflow: hidden;
      transition: all .3s ease; }
      header .menu-mobile #myNavbar {
        padding: 26px 15px; }
    header .menu-main {
      padding-top: 0; }
      header .menu-main li.menu-home .dropdown-menu {
        display: none; }
        header .menu-main li.menu-home .dropdown-menu.menu-home-lv2 {
          margin-top: -28px;
          padding-left: 50px; }
          header .menu-main li.menu-home .dropdown-menu.menu-home-lv2 .li-home a {
            padding: 0; }
      header .menu-main li.shop-menu .dropdown-menu {
        display: none;
        margin-top: -42px; }
    header img {
      width: unset; }
      header img#search-img {
        width: unset; }
    header .icon-menu {
      padding-top: 0;
      padding-right: 80px; }
      header .icon-menu::before {
        top: 10px;
        right: 80px; }
      header .icon-menu li {
        float: left; }
        header .icon-menu li .fa-user {
          font-size: 22px; }
        header .icon-menu li#input-search {
          padding-right: 20px; }
        header .icon-menu li a {
          padding-right: 0; }
        header .icon-menu li img#search-img {
          margin-right: 0 !important; }

  main .carousel .carousel-inner .item {
    padding: 220px 20px 100px 20px; }
    main .carousel .carousel-inner .item p#p1 {
      padding-top: 0; }
    main .carousel .carousel-inner .item a {
      margin: 10px 0 0 0;
      padding: 8px 20px; }
  main .carousel .carousel-control {
    top: 540px; }
    main .carousel .carousel-control.left {
      left: 34px; }
    main .carousel .carousel-control.right {
      left: 90px; }

  .modal-dialog .modal-content .text-popup {
    top: 0%;
    left: 3%; }
    .modal-dialog .modal-content .text-popup label {
      bottom: 106px; } }
@media (max-width: 812px) and (max-height: 414px) {
  header {
    padding: 8px 15px; }
    header .navbar-toggle {
      top: 22px; }

  main .content-search {
    padding-top: 30px;
    padding-bottom: 30px; }
    main .content-search .container-100 h3 {
      padding-bottom: 85px; }
  main .carousel .carousel-control {
    top: 315px; }
    main .carousel .carousel-control.left {
      left: 230px; }
    main .carousel .carousel-control.right {
      left: 290px; }
  main .carousel .carousel-inner .item {
    padding: 57px 20px 100px 20px; }

  .modal-dialog {
    margin: 0px auto; } }
@media (max-width: 736px) and (max-height: 414px) {
  header .icon-menu {
    padding: 0 0 0 250px; }
  header .navbar-toggle {
    top: 30px; }

  main .carousel .carousel-inner .item {
    padding: 96px 20px 100px 20px; } }
@media (max-width: 667px) and (max-height: 414px) {
  .modal-dialog {
    width: 500px; }

  header .icon-menu {
    padding: 0 0 0 196px; }

  main .carousel .carousel-inner .item a {
    margin: 0; } }
@media (max-width: 568px) and (max-height: 320px) {
  header .icon-menu {
    padding: 0 0 0 122px; }

  main .content-search {
    padding-top: 30px;
    padding-bottom: 30px; }
    main .content-search .container-100 .fa-times-circle {
      right: 30px; }
    main .content-search .container-100 h3 {
      padding-bottom: 36px;
      line-height: 45px; }
  main .carousel .carousel-control {
    top: 269px; }
    main .carousel .carousel-control.left {
      left: 180px; }
    main .carousel .carousel-control.right {
      left: 240px; }
  main .carousel .carousel-inner .item h3 {
    font-size: 36px;
    margin-top: 0; } }
@media (max-width: 567px) {
  .col-xs-6 {
    width: 100%; }

  .modal-dialog {
    width: auto;
    margin: 150px 10px; }
    .modal-dialog .modal-content .close {
      top: 1px;
      right: 1px; }
    .modal-dialog .modal-content .text-popup {
      left: 2%;
      top: -8%; }
      .modal-dialog .modal-content .text-popup h1 {
        font-size: 20px; }
      .modal-dialog .modal-content .text-popup input[type="text"] {
        padding-left: 10px;
        width: 170px;
        height: 30px; }
      .modal-dialog .modal-content .text-popup button {
        font-size: 14px;
        padding: 5px 10px;
        margin-top: 10px;
        margin-bottom: 20px; }
      .modal-dialog .modal-content .text-popup label {
        bottom: 8px; }

  .nav .li-icon {
    display: inline-block; }
    .nav .li-icon a {
      padding: 15px 6px; }
      .nav .li-icon a .fa-user {
        font-size: 22px;
        padding-right: 23px; }

  header {
    padding: 0; }
    header .menu-mobile {
      position: absolute;
      background: #fff; }
    header .icon-menu {
      display: inline-block;
      padding: 0 0 0 77px; }
      header .icon-menu::before {
        top: 16px;
        right: 8px; }
      header .icon-menu li img {
        display: inline-block; }
      header .icon-menu li#input-search {
        padding-right: unset; }
        header .icon-menu li#input-search .alert-search {
          right: unset;
          left: -90px;
          top: 56px; }
    header .navbar-toggle {
      position: absolute;
      top: 26px;
      right: 10px;
      float: unset;
      margin: 0;
      padding: 0; }
      header .navbar-toggle .icon-bar {
        height: 3px;
        border-radius: 30%;
        background: black; }

  .logo-mobile {
    padding: 10px 0 20px 10px; }

  main .content-search {
    padding-top: 66px; }
    main .content-search .container-100 .fa-times-circle {
      right: 30px; }
    main .content-search .container-100 h3 {
      padding-bottom: 70px; }
    main .content-search .container-100 form input::-webkit-input-placeholder {
      font-size: 20px; }
    main .content-search .container-100 form .button_search {
      top: 50px;
      right: 45px; }
  main .carousel .carousel-inner .item {
    padding: 90px 20px 0 20px; }
    main .carousel .carousel-inner .item h3 {
      font-size: 40px;
      padding: 0; }
      main .carousel .carousel-inner .item h3#h1 {
        padding-left: 0; }
    main .carousel .carousel-inner .item p {
      font-size: 14px;
      padding-left: 0; }
      main .carousel .carousel-inner .item p#p1 {
        padding-top: 40px; }
    main .carousel .carousel-inner .item a {
      margin: 10px 0 20px 0;
      padding: 5px 15px;
      font-size: 14px; }
  main .carousel .carousel-control {
    top: 260px; }
    main .carousel .carousel-control.left {
      left: 222px; }
    main .carousel .carousel-control.right {
      left: 282px; } }
@media (max-width: 320px) {
  header .icon-menu {
    padding: 0px 0 0 40px; }

  main .content-search .container-100 h3 {
    font-size: 40px;
    line-height: 55px; }
  main .content-search .container-100 form input::-webkit-input-placeholder {
    font-size: 14px; }
  main .content-search .container-100 form .button_search {
    right: 0; }
  main .carousel .carousel-inner .item {
    padding: 70px 20px 0 20px; }
  main .carousel .carousel-control.left {
    left: 190px; }
  main .carousel .carousel-control.right {
    left: 250px; } }

/*# sourceMappingURL=style-homev2.css.map */
