/*------------------------------------
	[Table of contents]
	1. Body
	2. Header / #header
	3. Navigation / #navbar
	4. Content / #content
	5. Sidebar / #sidebar
	6. Search / #search
	7. Footer / #footer

--------------------------------------*/
.active-bg-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  transition: all .3s ease;
  top: 0; }

* {
  outline: 0 !important; }

img {
  margin: 0 auto !important; }

nav .open a {
  background-color: unset !important; }
  nav .open a:hover {
    background-color: unset !important; }
  nav .open a:focus {
    background-color: unset !important; }

.form-control:focus {
  box-shadow: unset;
  border-color: unset; }

@media (min-width: 1200px) {
  .container-menu {
    width: 1000px !important; } }
h5 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.navbar-collapse {
  padding-right: 0;
  padding-left: 0; }

.nav > li > a > img {
  max-width: 100%; }

.nav-pills > li + li {
  margin-left: 0; }

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  background-color: #fff; }

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background-color: unset !important; }

.show-search {
  opacity: 1 !important;
  visibility: visible !important; }

/*slick*/
.slider {
  width: 100%;
  margin: 0 auto; }

.slick-slide {
  margin: 0px 20px; }

.slick-slide {
  transition: all ease-in-out .3s;
  opacity: 1; }

.slick-active {
  opacity: 1; }

.slick-current {
  opacity: 1; }

/*end slick*/
ul.breadcrumb {
  padding: 15px 0;
  list-style: none;
  background: #fff; }

/* Display list items side by side */
ul.breadcrumb li {
  display: inline; }

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
  padding: 5px 10px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  color: black;
  color: #888888;
  content: ">"; }

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  color: black;
  color: #888888;
  text-decoration: none; }

ul.breadcrumb li:last-child a {
  color: black;
  font-weight: bold; }

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: black;
  text-decoration: none; }

@media all and (min-width: 320px) {
  .col-md-1:nth-child(12n+1), .col-md-2:nth-child(6n+1), .col-md-3:nth-child(4n+1), .col-md-4:nth-child(3n+1), .col-md-6:nth-child(2n+1),
  .col-lg-1:nth-child(12n+1), .col-lg-2:nth-child(6n+1), .col-lg-3:nth-child(4n+1), .col-lg-4:nth-child(3n+1), .col-lg-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1), .col-sm-2:nth-child(6n+1), .col-sm-3:nth-child(4n+1), .col-sm-4:nth-child(3n+1), .col-sm-6:nth-child(2n+1) {
    clear: none; }

  .col-xs-1:nth-child(12n+1), .col-xs-2:nth-child(6n+1), .col-xs-3:nth-child(4n+1), .col-xs-4:nth-child(3n+1), .col-xs-6:nth-child(2n+1) {
    clear: left; } }
@media all and (min-width: 768px) {
  .col-md-1:nth-child(12n+1), .col-md-2:nth-child(6n+1), .col-md-3:nth-child(4n+1), .col-md-4:nth-child(3n+1), .col-md-6:nth-child(2n+1),
  .col-lg-1:nth-child(12n+1), .col-lg-2:nth-child(6n+1), .col-lg-3:nth-child(4n+1), .col-lg-4:nth-child(3n+1), .col-lg-6:nth-child(2n+1),
  .col-xs-1:nth-child(12n+1), .col-xs-2:nth-child(6n+1), .col-xs-3:nth-child(4n+1), .col-xs-4:nth-child(3n+1), .col-xs-6:nth-child(2n+1) {
    clear: none; }

  .col-sm-1:nth-child(12n+1), .col-sm-2:nth-child(6n+1), .col-sm-3:nth-child(4n+1), .col-sm-4:nth-child(3n+1), .col-sm-6:nth-child(2n+1) {
    clear: left; } }
@media all and (min-width: 992px) {
  .col-sm-1:nth-child(12n+1), .col-sm-2:nth-child(6n+1), .col-sm-3:nth-child(4n+1), .col-sm-4:nth-child(3n+1), .col-sm-6:nth-child(2n+1),
  .col-lg-1:nth-child(12n+1), .col-lg-2:nth-child(6n+1), .col-lg-3:nth-child(4n+1), .col-lg-4:nth-child(3n+1), .col-lg-6:nth-child(2n+1),
  .col-xs-1:nth-child(12n+1), .col-xs-2:nth-child(6n+1), .col-xs-3:nth-child(4n+1), .col-xs-4:nth-child(3n+1), .col-xs-6:nth-child(2n+1) {
    clear: none; }

  .col-md-1:nth-child(12n+1), .col-md-2:nth-child(6n+1), .col-md-3:nth-child(4n+1), .col-md-4:nth-child(3n+1), .col-md-6:nth-child(2n+1) {
    clear: left; } }
@media (min-width: 1200px) {
  .col-md-1:nth-child(12n+1), .col-md-2:nth-child(6n+1), .col-md-3:nth-child(4n+1), .col-md-4:nth-child(3n+1), .col-md-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1), .col-sm-2:nth-child(6n+1), .col-sm-3:nth-child(4n+1), .col-sm-4:nth-child(3n+1), .col-sm-6:nth-child(2n+1),
  .col-xs-1:nth-child(12n+1), .col-xs-2:nth-child(6n+1), .col-xs-3:nth-child(4n+1), .col-xs-4:nth-child(3n+1), .col-xs-6:nth-child(2n+1) {
    clear: none; }

  .col-lg-1:nth-child(12n+1), .col-lg-2:nth-child(6n+1), .col-lg-3:nth-child(4n+1), .col-lg-4:nth-child(3n+1), .col-lg-6:nth-child(2n+1) {
    clear: left; } }
.panel {
  box-shadow: unset;
  border-radius: 0; }

/*--------------------------------ui----------------------------*/
.ui-slider .ui-slider-handle {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  cursor: pointer;
  background: none;
  background-color: black;
  border: none;
  outline: none; }

.ui-slider-range {
  background: none;
  background-color: black;
  border: none; }

#slider-3 {
  border: none;
  height: 5px;
  border-radius: 0;
  background: #9a9a9a; }

.range-p input {
  border: 0;
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  color: black;
  outline: 0; }

/*end*/
/*---------*/
.active-btn {
  background: black !important;
  color: #fff; }

/*custom select*/
.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px; }

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  color: black;
  width: 154px;
  height: 36px;
  margin-left: 20px; }

.select:nth-child(2) {
  width: 70px;
  height: 36px;
  margin-left: 0; }

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #eeeeee;
  padding: 8px 15px;
  transition: all 0.2s ease-in; }
  .select-styled:after {
    content: "\f107";
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 16px;
    font-weight: 600;
    font-family: Font Awesome\ 5 Free; }
  .select-styled:active:after, .select-styled.active:after {
    transform: rotate(180deg); }

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f2f2f2; }
  .select-options li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid #e6e6e6;
    transition: all 0.15s ease-in; }
    .select-options li:hover {
      color: #c0392b;
      background: #fff; }
    .select-options li[rel="hide"] {
      display: none; }

/*----end----*/
figure.bg-input {
  position: relative; }

figure.bg-input::before {
  content: '';
  display: inline-block;
  width: 60px;
  height: 36px;
  background: #eeeeee;
  position: absolute;
  bottom: 8px;
  z-index: -1;
  left: -15px; }

figure.bg-input::after {
  content: '';
  display: inline-block;
  width: 60px;
  height: 36px;
  background: #eeeeee;
  position: absolute;
  bottom: 8px;
  z-index: -1;
  left: 78px; }

/*------tab--------*/
.nav-tabs {
  border-bottom: 0; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border: 0;
  background-color: transparent; }

.nav-tabs > li > a {
  border: 0; }

/*----*/
@-webkit-keyframes shine-left {
  100% {
    right: 100%; } }
@keyframes shine-left {
  100% {
    right: 100%; } }
/*-----*/
@-webkit-keyframes shine-right {
  100% {
    left: 100%; } }
@keyframes shine-right {
  100% {
    left: 100%; } }
.carousel-caption {
  text-shadow: unset; }

.active-bg-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  transition: all .3s ease;
  top: 0; }

* {
  outline: 0 !important; }

img {
  margin: 0 auto !important; }

nav .open a {
  background-color: unset !important; }
  nav .open a:hover {
    background-color: unset !important; }
  nav .open a:focus {
    background-color: unset !important; }

.form-control:focus {
  box-shadow: unset;
  border-color: unset; }

@media (min-width: 1200px) {
  .container-menu {
    width: 1000px !important; } }
h5 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.navbar-collapse {
  padding-right: 0;
  padding-left: 0; }

.nav > li > a > img {
  max-width: 100%; }

.nav-pills > li + li {
  margin-left: 0; }

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  background-color: #fff; }

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background-color: unset !important; }

.show-search {
  opacity: 1 !important;
  visibility: visible !important; }

/*slick*/
.slider {
  width: 100%;
  margin: 0 auto; }

.slick-slide {
  margin: 0px 20px; }

.slick-slide {
  transition: all ease-in-out .3s;
  opacity: 1; }

.slick-active {
  opacity: 1; }

.slick-current {
  opacity: 1; }

/*end slick*/
ul.breadcrumb {
  padding: 15px 0;
  list-style: none;
  background: #fff; }

/* Display list items side by side */
ul.breadcrumb li {
  display: inline; }

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
  padding: 5px 10px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  color: black;
  color: #888888;
  content: ">"; }

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  color: black;
  color: #888888;
  text-decoration: none; }

ul.breadcrumb li:last-child a {
  color: black;
  font-weight: bold; }

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: black;
  text-decoration: none; }

@media all and (min-width: 320px) {
  .col-md-1:nth-child(12n+1), .col-md-2:nth-child(6n+1), .col-md-3:nth-child(4n+1), .col-md-4:nth-child(3n+1), .col-md-6:nth-child(2n+1),
  .col-lg-1:nth-child(12n+1), .col-lg-2:nth-child(6n+1), .col-lg-3:nth-child(4n+1), .col-lg-4:nth-child(3n+1), .col-lg-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1), .col-sm-2:nth-child(6n+1), .col-sm-3:nth-child(4n+1), .col-sm-4:nth-child(3n+1), .col-sm-6:nth-child(2n+1) {
    clear: none; }

  .col-xs-1:nth-child(12n+1), .col-xs-2:nth-child(6n+1), .col-xs-3:nth-child(4n+1), .col-xs-4:nth-child(3n+1), .col-xs-6:nth-child(2n+1) {
    clear: left; } }
@media all and (min-width: 768px) {
  .col-md-1:nth-child(12n+1), .col-md-2:nth-child(6n+1), .col-md-3:nth-child(4n+1), .col-md-4:nth-child(3n+1), .col-md-6:nth-child(2n+1),
  .col-lg-1:nth-child(12n+1), .col-lg-2:nth-child(6n+1), .col-lg-3:nth-child(4n+1), .col-lg-4:nth-child(3n+1), .col-lg-6:nth-child(2n+1),
  .col-xs-1:nth-child(12n+1), .col-xs-2:nth-child(6n+1), .col-xs-3:nth-child(4n+1), .col-xs-4:nth-child(3n+1), .col-xs-6:nth-child(2n+1) {
    clear: none; }

  .col-sm-1:nth-child(12n+1), .col-sm-2:nth-child(6n+1), .col-sm-3:nth-child(4n+1), .col-sm-4:nth-child(3n+1), .col-sm-6:nth-child(2n+1) {
    clear: left; } }
@media all and (min-width: 992px) {
  .col-sm-1:nth-child(12n+1), .col-sm-2:nth-child(6n+1), .col-sm-3:nth-child(4n+1), .col-sm-4:nth-child(3n+1), .col-sm-6:nth-child(2n+1),
  .col-lg-1:nth-child(12n+1), .col-lg-2:nth-child(6n+1), .col-lg-3:nth-child(4n+1), .col-lg-4:nth-child(3n+1), .col-lg-6:nth-child(2n+1),
  .col-xs-1:nth-child(12n+1), .col-xs-2:nth-child(6n+1), .col-xs-3:nth-child(4n+1), .col-xs-4:nth-child(3n+1), .col-xs-6:nth-child(2n+1) {
    clear: none; }

  .col-md-1:nth-child(12n+1), .col-md-2:nth-child(6n+1), .col-md-3:nth-child(4n+1), .col-md-4:nth-child(3n+1), .col-md-6:nth-child(2n+1) {
    clear: left; } }
@media (min-width: 1200px) {
  .col-md-1:nth-child(12n+1), .col-md-2:nth-child(6n+1), .col-md-3:nth-child(4n+1), .col-md-4:nth-child(3n+1), .col-md-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1), .col-sm-2:nth-child(6n+1), .col-sm-3:nth-child(4n+1), .col-sm-4:nth-child(3n+1), .col-sm-6:nth-child(2n+1),
  .col-xs-1:nth-child(12n+1), .col-xs-2:nth-child(6n+1), .col-xs-3:nth-child(4n+1), .col-xs-4:nth-child(3n+1), .col-xs-6:nth-child(2n+1) {
    clear: none; }

  .col-lg-1:nth-child(12n+1), .col-lg-2:nth-child(6n+1), .col-lg-3:nth-child(4n+1), .col-lg-4:nth-child(3n+1), .col-lg-6:nth-child(2n+1) {
    clear: left; } }
.panel {
  box-shadow: unset;
  border-radius: 0; }

/*--------------------------------ui----------------------------*/
.ui-slider .ui-slider-handle {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  cursor: pointer;
  background: none;
  background-color: black;
  border: none;
  outline: none; }

.ui-slider-range {
  background: none;
  background-color: black;
  border: none; }

#slider-3 {
  border: none;
  height: 5px;
  border-radius: 0;
  background: #9a9a9a; }

.range-p input {
  border: 0;
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  color: black;
  outline: 0; }

/*end*/
/*---------*/
.active-btn {
  background: black !important;
  color: #fff; }

/*custom select*/
.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px; }

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  color: black;
  width: 154px;
  height: 36px;
  margin-left: 20px; }

.select:nth-child(2) {
  width: 70px;
  height: 36px;
  margin-left: 0; }

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #eeeeee;
  padding: 8px 15px;
  transition: all 0.2s ease-in; }
  .select-styled:after {
    content: "\f107";
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 16px;
    font-weight: 600;
    font-family: Font Awesome\ 5 Free; }
  .select-styled:active:after, .select-styled.active:after {
    transform: rotate(180deg); }

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f2f2f2; }
  .select-options li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid #e6e6e6;
    transition: all 0.15s ease-in; }
    .select-options li:hover {
      color: #c0392b;
      background: #fff; }
    .select-options li[rel="hide"] {
      display: none; }

/*----end----*/
figure.bg-input {
  position: relative; }

figure.bg-input::before {
  content: '';
  display: inline-block;
  width: 60px;
  height: 36px;
  background: #eeeeee;
  position: absolute;
  bottom: 8px;
  z-index: -1;
  left: -15px; }

figure.bg-input::after {
  content: '';
  display: inline-block;
  width: 60px;
  height: 36px;
  background: #eeeeee;
  position: absolute;
  bottom: 8px;
  z-index: -1;
  left: 78px; }

/*------tab--------*/
.nav-tabs {
  border-bottom: 0; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border: 0;
  background-color: transparent; }

.nav-tabs > li > a {
  border: 0; }

/*----*/
@-webkit-keyframes shine-left {
  100% {
    right: 100%; } }
@keyframes shine-left {
  100% {
    right: 100%; } }
/*-----*/
@-webkit-keyframes shine-right {
  100% {
    left: 100%; } }
@keyframes shine-right {
  100% {
    left: 100%; } }
.carousel-caption {
  text-shadow: unset; }

/*----grid-list------*/
.pro-list {
  transition: all .35s ease-in-out;
  width: 100% !important; }
  .pro-list .product-image-flower {
    float: left; }
    @media (min-width: 320px) {
      .pro-list .product-image-flower {
        width: 100%; } }
    @media (min-width: 568px) {
      .pro-list .product-image-flower {
        width: 50%; } }
    @media (min-width: 768px) {
      .pro-list .product-image-flower {
        width: 40%; } }
  .pro-list .product-title-flower {
    float: left;
    text-align: left !important;
    padding-left: 25px; }
    @media (min-width: 320px) {
      .pro-list .product-title-flower {
        width: 100%;
        padding: 20px 0; } }
    @media (min-width: 568px) {
      .pro-list .product-title-flower {
        width: 50%;
        padding: 0 0 0 25px; } }
    @media (min-width: 768px) {
      .pro-list .product-title-flower {
        width: 60%; } }
    .pro-list .product-title-flower h5 {
      margin-top: 0; }
      .pro-list .product-title-flower h5 a {
        font-weight: 600 !important;
        font-size: 18px !important; }
    .pro-list .product-title-flower .p-title {
      display: inline-block !important;
      font-family: Poppins;
      font-weight: 400;
      font-size: 14px;
      color: black;
      color: #b8b8b8; }
    .pro-list .product-title-flower .star {
      padding: 20px 0 30px 0; }
      .pro-list .product-title-flower .star .rating {
        display: inline-block !important;
        font-family: Poppins;
        font-weight: 400;
        font-size: 14px;
        color: black;
        color: #b8b8b8;
        padding-left: 10px; }
        @media (max-width: 375px) {
          .pro-list .product-title-flower .star .rating {
            padding-left: 0; } }
    .pro-list .product-title-flower .prince {
      padding-bottom: 30px; }
    .pro-list .product-title-flower .add-cart {
      display: inline-block !important; }
      .pro-list .product-title-flower .add-cart .btn-add-cart {
        display: inline-block;
        font-family: Abril Fatface;
        font-weight: 400;
        font-size: 18px;
        color: black;
        padding: 16px 30px;
        background: #eeeeee;
        color: #888888;
        transition: all .3s ease; }
        @media (max-width: 320px) {
          .pro-list .product-title-flower .add-cart .btn-add-cart {
            padding: 16px 15px; } }
        .pro-list .product-title-flower .add-cart .btn-add-cart:hover {
          text-decoration: none;
          background: black;
          color: #fff; }
      .pro-list .product-title-flower .add-cart .list-icon {
        display: inline-block;
        font-size: 18px;
        padding: 16px 19px;
        border-radius: 50%;
        background: #eeeeee;
        color: #888888;
        margin-left: 15px;
        transition: all .3s ease; }
        .pro-list .product-title-flower .add-cart .list-icon:hover {
          color: black; }
  .pro-list .product-icon-flower {
    display: none; }

/*----end-----*/
.sidebar-hide {
  display: none; }

.content-flower-full {
  width: 100%;
  transition: all .3s ease; }

.product-flower-col-3 {
  width: 25%;
  clear: none !important; }
  .product-flower-col-3:nth-child(4n+1) {
    clear: left !important; }

body {
  background-image: url("img/BG-home1.jpg");
  background-position: -515px 0;
  height: auto;
  background-repeat: no-repeat; }

@media (min-width: 1400px) {
  .container {
    width: 1380px; } }
header {
  padding: 30px 0; }
  header .menu-main {
    position: relative;
    padding-top: 20px; }
    header .menu-main li {
      padding-right: 22px; }
      header .menu-main li:first-child a {
        padding-left: 0; }
      header .menu-main li.menu-home .dropdown-menu {
        border-radius: 0;
        border: 0;
        display: block;
        visibility: hidden;
        opacity: 0;
        transition: all .35s ease;
        top: 70%; }
        header .menu-main li.menu-home .dropdown-menu.menu-home-lv2 {
          left: -20px;
          padding-left: 20px; }
          header .menu-main li.menu-home .dropdown-menu.menu-home-lv2 .li-home {
            list-style-type: none;
            padding: 10px 0; }
            header .menu-main li.menu-home .dropdown-menu.menu-home-lv2 .li-home i {
              visibility: hidden;
              opacity: 0;
              padding-right: 5px;
              transition: all .3s ease; }
              @media (min-width: 1025px) {
                header .menu-main li.menu-home .dropdown-menu.menu-home-lv2 .li-home i {
                  margin-left: -18px; } }
            header .menu-main li.menu-home .dropdown-menu.menu-home-lv2 .li-home a {
              display: inline-block;
              transition: all .3s ease;
              font-family: Poppins;
              font-weight: 400;
              font-size: 14px;
              color: black;
              color: grey; }
              header .menu-main li.menu-home .dropdown-menu.menu-home-lv2 .li-home a:hover {
                text-decoration: none;
                color: black;
                font-weight: 600; }
            header .menu-main li.menu-home .dropdown-menu.menu-home-lv2 .li-home:hover i {
              visibility: visible;
              opacity: 1;
              transform: translateX(18px); }
            header .menu-main li.menu-home .dropdown-menu.menu-home-lv2 .li-home:hover a {
              text-decoration: none;
              color: black;
              font-weight: 600;
              transform: translateX(18px); }
        header .menu-main li.menu-home .dropdown-menu .li-banner {
          padding: 20px 45px; }
          header .menu-main li.menu-home .dropdown-menu .li-banner img {
            width: 100%; }
      header .menu-main li.menu-home:hover .dropdown-menu {
        visibility: visible;
        opacity: 1;
        transform: translateY(15px); }
      header .menu-main li.shop-menu #shop-1 {
        position: absolute;
        width: 30px;
        height: 2px;
        background: black;
        bottom: 8px;
        left: 10px;
        visibility: hidden;
        opacity: 0; }
      header .menu-main li.shop-menu:hover #shop-1 {
        visibility: unset;
        opacity: 1;
        transform: translateX(5px);
        transition: all .35s ease; }
      header .menu-main li.shop-menu .dropdown-menu {
        border-radius: 0;
        border: 0;
        left: -336px;
        top: 70%;
        display: block;
        visibility: hidden;
        opacity: 0;
        transition: all .35s ease; }
        header .menu-main li.shop-menu .dropdown-menu ul {
          padding: 10px 0; }
          header .menu-main li.shop-menu .dropdown-menu ul a {
            font-family: Poppins;
            font-weight: 600;
            font-size: 14px;
            color: black; }
            header .menu-main li.shop-menu .dropdown-menu ul a:hover {
              text-decoration: none;
              opacity: .5; }
          header .menu-main li.shop-menu .dropdown-menu ul li {
            list-style-type: none; }
            header .menu-main li.shop-menu .dropdown-menu ul li .menu-home-lv2 ul .li-home {
              margin-left: -18px;
              padding: 10px 0; }
              header .menu-main li.shop-menu .dropdown-menu ul li .menu-home-lv2 ul .li-home i {
                visibility: hidden;
                opacity: 0;
                padding-right: 5px;
                transition: all .3s ease; }
              header .menu-main li.shop-menu .dropdown-menu ul li .menu-home-lv2 ul .li-home.li-one {
                padding-top: 30px; }
              header .menu-main li.shop-menu .dropdown-menu ul li .menu-home-lv2 ul .li-home a {
                transition: all .3s ease;
                font-family: Poppins;
                font-weight: 400;
                font-size: 14px;
                color: black;
                color: grey; }
                header .menu-main li.shop-menu .dropdown-menu ul li .menu-home-lv2 ul .li-home a:hover {
                  text-decoration: none;
                  color: black;
                  font-weight: 600;
                  opacity: 1; }
              header .menu-main li.shop-menu .dropdown-menu ul li .menu-home-lv2 ul .li-home:hover i {
                visibility: visible;
                opacity: 1;
                transform: translateX(18px); }
              header .menu-main li.shop-menu .dropdown-menu ul li .menu-home-lv2 ul .li-home:hover a {
                display: inline-block;
                text-decoration: none;
                color: black;
                font-weight: 600;
                transform: translateX(18px); }
        header .menu-main li.shop-menu .dropdown-menu .li-banner {
          padding: 20px 20px 0 0; }
          header .menu-main li.shop-menu .dropdown-menu .li-banner img {
            width: 100%; }
      header .menu-main li.shop-menu:hover .dropdown-menu {
        visibility: visible;
        opacity: 1;
        transform: translateY(15px); }
      header .menu-main li.menu-home #home-1 {
        position: absolute;
        width: 30px;
        height: 2px;
        background: black;
        bottom: 8px;
        left: 10px;
        visibility: hidden;
        opacity: 0;
        left: -5px; }
      header .menu-main li.menu-home:hover #home-1 {
        visibility: unset;
        opacity: 1;
        transform: translateX(5px);
        transition: all .35s ease; }
      header .menu-main li.shop-menu #shop-1 {
        position: absolute;
        width: 30px;
        height: 2px;
        background: black;
        bottom: 8px;
        left: 10px;
        visibility: hidden;
        opacity: 0;
        visibility: visible;
        opacity: 1;
        left: 15px; }
      header .menu-main li.wedding-menu #wedding-1 {
        position: absolute;
        width: 30px;
        height: 2px;
        background: black;
        bottom: 8px;
        left: 10px;
        visibility: hidden;
        opacity: 0; }
      header .menu-main li.wedding-menu:hover #wedding-1 {
        visibility: unset;
        opacity: 1;
        transform: translateX(5px);
        transition: all .35s ease; }
      header .menu-main li.blog-menu #blog-1 {
        position: absolute;
        width: 30px;
        height: 2px;
        background: black;
        bottom: 8px;
        left: 10px;
        visibility: hidden;
        opacity: 0; }
      header .menu-main li.blog-menu:hover #blog-1 {
        visibility: unset;
        opacity: 1;
        transform: translateX(5px);
        transition: all .35s ease; }
      header .menu-main li.blog-menu .dropdown-menu {
        border-radius: 0;
        border: 0;
        display: block;
        visibility: hidden;
        opacity: 0;
        transition: all .35s ease;
        top: 70%; }
        header .menu-main li.blog-menu .dropdown-menu.menu-home-lv2 {
          left: -20px;
          padding: 0 20px;
          width: 300px; }
          header .menu-main li.blog-menu .dropdown-menu.menu-home-lv2 .li-home {
            list-style-type: none;
            padding: 10px 15px; }
            header .menu-main li.blog-menu .dropdown-menu.menu-home-lv2 .li-home i {
              visibility: hidden;
              opacity: 0;
              transition: all .3s ease; }
              @media (min-width: 1025px) {
                header .menu-main li.blog-menu .dropdown-menu.menu-home-lv2 .li-home i {
                  margin-left: -18px; } }
            header .menu-main li.blog-menu .dropdown-menu.menu-home-lv2 .li-home a {
              display: inline-block;
              transition: all .3s ease;
              font-family: Poppins;
              font-weight: 400;
              font-size: 14px;
              color: black;
              color: grey;
              padding-left: 5px; }
              header .menu-main li.blog-menu .dropdown-menu.menu-home-lv2 .li-home a:hover {
                text-decoration: none;
                color: black;
                font-weight: 600; }
            header .menu-main li.blog-menu .dropdown-menu.menu-home-lv2 .li-home:hover i {
              visibility: visible;
              opacity: 1;
              transform: translateX(18px); }
            header .menu-main li.blog-menu .dropdown-menu.menu-home-lv2 .li-home:hover a {
              text-decoration: none;
              color: black;
              font-weight: 600;
              transform: translateX(18px); }
        header .menu-main li.blog-menu .dropdown-menu .li-banner {
          padding: 20px 20px 0 0; }
          header .menu-main li.blog-menu .dropdown-menu .li-banner img {
            width: 100%; }
      header .menu-main li.blog-menu:hover .dropdown-menu {
        visibility: visible;
        opacity: 1;
        transform: translateY(15px); }
      header .menu-main li.contact-menu #contact-1 {
        position: absolute;
        width: 30px;
        height: 2px;
        background: black;
        bottom: 8px;
        left: 10px;
        visibility: hidden;
        opacity: 0; }
      header .menu-main li.contact-menu:hover #contact-1 {
        visibility: unset;
        opacity: 1;
        transform: translateX(5px);
        transition: all .35s ease; }
      header .menu-main li a {
        font-family: Poppins;
        font-weight: lighter;
        font-size: 18px;
        color: black; }
        header .menu-main li a:hover {
          background-color: unset; }
        header .menu-main li a#shop-menu {
          font-weight: bold; }
        header .menu-main li a:focus {
          background-color: unset; }
  header .icon-menu {
    position: relative;
    padding-top: 20px; }
    /*header .icon-menu::before {*/
    /*  */
    /*  width: 20px;*/
    /*  height: 20px;*/
    /*  background-color: black;*/
    /*  position: absolute;*/
    /*  text-align: center;*/
    /*  right: 18px;*/
    /*  border-radius: 50%;*/
    /*  top: 30px;*/
    /*  color: white; }*/
    header .icon-menu li .fa-user {
      font-size: 22px;
      padding-right: 30px;
      color: black; }
    header .icon-menu li img {
      padding-right: 15px; }
      header .icon-menu li img#search-img {
        margin-right: 40px; }
    header .icon-menu li a:hover {
      background-color: unset; }
    header .icon-menu li a:focus {
      background-color: unset; }
    header .icon-menu li#input-search {
      position: relative; }
      header .icon-menu li#input-search .alert-search {
        position: absolute;
        width: 230px;
        top: 50px;
        right: 40px;
        background: rgba(255, 255, 255, 0.95);
        border: 0;
        border-radius: 0;
        padding: 0 25px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05); }
        header .icon-menu li#input-search .alert-search .close {
          position: absolute;
          top: 4px;
          right: 6px; }
        header .icon-menu li#input-search .alert-search .form-group {
          margin: 10px 0; }
          header .icon-menu li#input-search .alert-search .form-group .form-control {
            outline: 0;
            border: 0;
            border-radius: 0;
            box-shadow: none;
            padding-left: 20px;
            border-bottom: 1px solid grey; }
    header .icon-menu .cart-menu .dropdown-menu {
      position: absolute;
      background: #fff;
      right: 20px;
      border: 0;
      border-radius: 0;
      width: 310px;
      padding: 20px; }
      header .icon-menu .cart-menu .dropdown-menu #div-cart-menu {
        display: inline-flex; }
      header .icon-menu .cart-menu .dropdown-menu a {
        font-family: Abril Fatface;
        font-weight: 400;
        font-size: 18px;
        color: black;
        transition: all .3s ease-in-out 0.08s;
        color: white;
        padding: 10px 40px;
        background-color: black;
        border: 1px solid black;
        background-image: -webkit-linear-gradient(90deg, black 50%, transparent 50%);
        background-image: linear-gradient(90deg, black 50%, transparent 50%);
        background-size: 600px;
        background-repeat: no-repeat;
        background-position: 0%;
        -webkit-transition: background .3s ease-in-out;
        transition: background .3s ease-in-out;
        font-family: Poppins;
        font-weight: 400;
        font-size: 14px;
        color: black;
        color: #fff;
        padding: 10px 15px; }
        header .icon-menu .cart-menu .dropdown-menu a:hover {
          background-position: 100%;
          background-color: #fff;
          color: black;
          text-decoration: none; }
        header .icon-menu .cart-menu .dropdown-menu a.check {
          margin-left: 30px; }
    header .icon-menu .cart-menu .cart-1 {
      padding-bottom: 20px;
      clear: left;
      display: inline-block; }
    header .icon-menu .cart-menu .img-cart {
      width: 30%;
      float: left; }
    header .icon-menu .cart-menu .info-cart {
      padding-left: 15px;
      float: left; }
      header .icon-menu .cart-menu .info-cart h1 {
        font-family: Poppins;
        font-weight: 600;
        font-size: 14px;
        color: black;
        margin-top: 0; }
      header .icon-menu .cart-menu .info-cart span {
        font-family: Poppins;
        font-weight: 500;
        font-size: 14px;
        color: black; }
        header .icon-menu .cart-menu .info-cart span.number {
          padding-right: 30px; }
        header .icon-menu .cart-menu .info-cart span.prince-cart {
          font-weight: 600; }
    header .icon-menu .cart-menu .total {
      padding: 0 15px 30px 0;
      font-family: Poppins;
      font-weight: 600;
      font-size: 16px;
      color: black; }
      header .icon-menu .cart-menu .total span {
        margin-right: 40px; }

.banner {
  position: relative; }
  .banner .text-banner {
    position: absolute;
    left: 170px;
    top: 100px; }
    .banner .text-banner h1 {
      font-family: Abril Fatface;
      font-weight: 400;
      font-size: 60px;
      color: black;
      margin-bottom: 0; }
    .banner .text-banner p {
      font-family: Poppins;
      font-weight: 400;
      font-size: 30px;
      color: black;
      margin-bottom: 30px;
      color: #8f8f8f; }
    .banner .text-banner a {
      font-family: Abril Fatface;
      font-weight: 400;
      font-size: 18px;
      color: black;
      transition: all .3s ease-in-out 0.08s;
      color: white;
      padding: 10px 40px;
      background-color: black;
      border: 1px solid black;
      background-image: -webkit-linear-gradient(90deg, black 50%, transparent 50%);
      background-image: linear-gradient(90deg, black 50%, transparent 50%);
      background-size: 600px;
      background-repeat: no-repeat;
      background-position: 0%;
      -webkit-transition: background .3s ease-in-out;
      transition: background .3s ease-in-out; }
      .banner .text-banner a:hover {
        background-position: 100%;
        background-color: #fff;
        color: black;
        text-decoration: none; }
  .banner #banner-figure {
    overflow: hidden;
    position: relative;
    overflow: hidden;
    position: relative; }
    .banner #banner-figure::before {
      opacity: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      right: 33%;
      display: block;
      content: '';
      width: 25%;
      height: 100%;
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
      -webkit-transform: skewX(50deg);
      transform: skewX(50deg);
      transition: all .3s ease-in-out; }
    .banner #banner-figure:hover::before {
      opacity: 1;
      -webkit-animation: shine-left .3s linear forwards;
      animation: shine-left .3s linear forwards;
      overflow: hidden; }
    .banner #banner-figure::after {
      opacity: 0;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 33%;
      display: block;
      content: '';
      width: 25%;
      height: 100%;
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
      background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
      -webkit-transform: skewX(50deg);
      transform: skewX(50deg);
      transition: all .3s ease-in-out; }
    .banner #banner-figure:hover::after {
      opacity: 1;
      -webkit-animation: shine-right .3s linear forwards;
      animation: shine-right .3s linear forwards;
      overflow: hidden; }

.content {
  padding: 50px 15px; }
  .content .menu-breadcrumb .breadcrumb {
    padding: 6px 0; }
  .content .show-side {
    padding-left: 0; }
    .content .show-side .sp2 {
      font-family: Poppins;
      font-weight: 400;
      font-size: 14px;
      color: black;
      display: inline-block;
      padding: 8px 16px;
      background: #fff; }
    .content .show-side button {
      border: 0;
      outline: 0;
      padding: 6px 8px 8px 8px;
      background: #eeeeee; }
      .content .show-side button i {
        font-size: 20px;
        position: relative;
        top: 3px; }
      .content .show-side button:hover {
        background: black; }
        .content .show-side button:hover i {
          color: #fff; }
    .content .show-side .sp1, .content .show-side .btn-hide {
      font-family: Poppins;
      font-weight: 400;
      font-size: 14px;
      color: black;
      display: inline-block;
      padding: 8px 16px;
      background: #eeeeee; }
      .content .show-side .sp1:hover, .content .show-side .btn-hide:hover {
        color: #fff; }
    .content .show-side .btn-hide {
      position: absolute;
      left: 0;
      display: none; }
  @media (min-width: 1200px) {
    .content .show-select {
      padding: 0 0 0 150px; } }
  .content .show-select span {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    color: black;
    padding-right: 10px;
    position: relative;
    top: -12px; }
  .content .pagi {
    padding-bottom: 150px;
    text-align: right; }
    .content .pagi .pagination li {
      display: inline-block;
      margin: 2px; }
      .content .pagi .pagination li a {
        font-family: Poppins;
        font-weight: 400;
        font-size: 14px;
        color: black;
        background: #eeeeee;
        border: 0;
        padding: 6px 10px;
        color: black; }
        .content .pagi .pagination li a img {
          width: 50%;
          margin: auto;
          transition: all .3s ease; }
        .content .pagi .pagination li a:hover {
          background: black;
          color: #fff; }
      .content .pagi .pagination li:first-child a {
        border-radius: 0;
        background: black;
        color: #fff; }
      .content .pagi .pagination li:last-child a {
        border-radius: 0;
        padding: 10px 1px; }
        .content .pagi .pagination li:last-child a:hover {
          background: #eeeeee; }
          .content .pagi .pagination li:last-child a:hover img {
            transform: translateX(2px); }
  .content .content-flower {
    padding: 30px 0 0 0; }
    .content .content-flower .product-flower {
      padding-bottom: 40px;
      transition: all .5s ease-in-out; }
      .content .content-flower .product-flower .product-title-flower {
        text-align: center;
        padding-bottom: 20px; }
        .content .content-flower .product-flower .product-title-flower h5 a {
          font-family: Poppins;
          font-weight: 400;
          font-size: 16px;
          color: black; }
          .content .content-flower .product-flower .product-title-flower h5 a:hover {
            text-decoration: none;
            color: pink; }
        .content .content-flower .product-flower .product-title-flower .p-title {
          display: none; }
        .content .content-flower .product-flower .product-title-flower .star {
          color: #e18787; }
          .content .content-flower .product-flower .product-title-flower .star i {
            padding-right: 2px; }
          .content .content-flower .product-flower .product-title-flower .star .rating {
            display: none; }
        .content .content-flower .product-flower .product-title-flower .prince {
          font-family: Poppins;
          font-weight: 600;
          font-size: 18px;
          color: black;
          padding-top: 5px; }
          .content .content-flower .product-flower .product-title-flower .prince .strike {
            font-size: 14px;
            font-weight: 400;
            color: lightgrey;
            padding-left: 10px; }
        .content .content-flower .product-flower .product-title-flower .add-cart {
          display: none; }
      .content .content-flower .product-flower .product-image-flower {
        position: relative;
        transition: all .5s ease; }
        .content .content-flower .product-flower .product-image-flower:hover {
          box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2); }
          .content .content-flower .product-flower .product-image-flower:hover .product-icon-flower {
            opacity: 1;
            transform: scale(1); }
        .content .content-flower .product-flower .product-image-flower .product-icon-flower {
          position: absolute;
          z-index: 1;
          text-align: center;
          top: 40%;
          opacity: 0;
          transform: scale(0);
          transition: all .3s ease;
          width: 100%; }
          .content .content-flower .product-flower .product-image-flower .product-icon-flower i {
            width: 55px;
            height: 55px;
            background-color: white;
            border-radius: 50%;
            font-size: 20px;
            padding-top: 18px;
            margin-right: 8px; }
          .content .content-flower .product-flower .product-image-flower .product-icon-flower a {
            transition: all .3s ease;
            color: lightgrey; }
            .content .content-flower .product-flower .product-image-flower .product-icon-flower a:hover {
              color: black; }
        .content .content-flower .product-flower .product-image-flower .hot::before {
          font-family: Poppins;
          font-weight: 500;
          font-size: 14px;
          color: black;
          position: absolute;
          width: 45px;
          height: 25px;
          content: "HOT";
          background-color: #e18787;
          color: white;
          padding: 2px 0 0 9px;
          right: 0; }
        .content .content-flower .product-flower .product-image-flower .sale::before {
          font-family: Poppins;
          font-weight: 500;
          font-size: 14px;
          color: black;
          position: absolute;
          width: 45px;
          height: 25px;
          content: "SALE";
          background-color: #e18787;
          color: white;
          padding: 2px 0 0 6px;
          right: 0;
          letter-spacing: 1px; }

.sidebar .list-group {
  padding-bottom: 30px; }
  .sidebar .list-group.list-1 {
    margin-top: 30px; }
  .sidebar .list-group .list-group-item {
    font-family: Poppins;
    font-weight: 600;
    font-size: 14px;
    color: black;
    color: #b0b0b0;
    padding: 20px; }
    .sidebar .list-group .list-group-item a:focus {
      text-decoration: none; }
    .sidebar .list-group .list-group-item:first-child {
      border-radius: 0;
      font-size: 18px;
      color: black; }
    .sidebar .list-group .list-group-item:last-child {
      border-radius: 0; }
.sidebar #mysidebar .list-1 a {
  font-family: Poppins;
  font-weight: 600;
  font-size: 14px;
  color: black;
  color: #a8a8a8;
  text-align: left;
  outline: none;
  transition: 0.3s; }
  .sidebar #mysidebar .list-1 a:hover {
    color: black;
    text-decoration: none; }
.sidebar #mysidebar .list-1 .accordion {
  display: inline-block;
  padding: 0;
  float: right;
  outline: 0;
  border: 0;
  background: transparent;
  color: white; }
  .sidebar #mysidebar .list-1 .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px; }
  .sidebar #mysidebar .list-1 .accordion.active {
    color: black;
    padding-bottom: 10px; }
    .sidebar #mysidebar .list-1 .accordion.active:after {
      content: "\2212"; }
.sidebar #mysidebar .panel {
  margin: 0;
  border: 0;
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out; }
  .sidebar #mysidebar .panel li {
    list-style-type: none;
    margin-left: -18px;
    padding: 15px 0 5px 0; }
    .sidebar #mysidebar .panel li a {
      font-family: Poppins;
      font-weight: 400;
      font-size: 14px;
      color: black;
      color: #b0b0b0; }
      .sidebar #mysidebar .panel li a:hover {
        text-decoration: none;
        color: black; }
.sidebar .list-2 .list-group-item.list-item-2 {
  padding: 25px 25px 5px 25px; }
  .sidebar .list-2 .list-group-item.list-item-2 .color-item span {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 5px 20px 0;
    border: 1px solid #eeeeee;
    transition: all .5s ease; }
    .sidebar .list-2 .list-group-item.list-item-2 .color-item span#color-1 {
      background: #f1b8b7; }
    .sidebar .list-2 .list-group-item.list-item-2 .color-item span#color-2 {
      background: #fccf61; }
    .sidebar .list-2 .list-group-item.list-item-2 .color-item span#color-3 {
      background: #fff; }
    .sidebar .list-2 .list-group-item.list-item-2 .color-item span#color-4 {
      background: #bf1324; }
    .sidebar .list-2 .list-group-item.list-item-2 .color-item span#color-5 {
      background: #f8edab; }
    .sidebar .list-2 .list-group-item.list-item-2 .color-item span#color-6 {
      background: #ff8399; }
    .sidebar .list-2 .list-group-item.list-item-2 .color-item span#color-7 {
      background: #dbe4a9; }
    .sidebar .list-2 .list-group-item.list-item-2 .color-item span#color-8 {
      background: #fbdbe0; }
    .sidebar .list-2 .list-group-item.list-item-2 .color-item span:hover {
      opacity: .5; }
.sidebar .list-3 .list-group-item:first-child {
  border-bottom: 1px solid #ddd;
  margin-bottom: 0; }
.sidebar .list-3 .list-item-3 {
  padding-top: 0;
  border-top: 0; }
  .sidebar .list-3 .list-item-3 a {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    color: black;
    color: #b0b0b0; }
    .sidebar .list-3 .list-item-3 a:hover {
      text-decoration: none;
      color: black; }
  .sidebar .list-3 .list-item-3 span {
    float: right;
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    color: black;
    color: #b0b0b0; }
  .sidebar .list-3 .list-item-3:nth-child(2) {
    padding-top: 20px; }
.sidebar .list-4 {
  position: relative; }
  .sidebar .list-4 .list-item-4 {
    background: transparent;
    padding: 40px 25px 20px 25px; }
    .sidebar .list-4 .list-item-4 #price {
      margin-top: 30px;
      background: transparent; }
    .sidebar .list-4 .list-item-4 button {
      font-family: Poppins;
      font-weight: 400;
      font-size: 14px;
      color: black;
      outline: 0;
      border: 0;
      background: black;
      color: white;
      padding: 5px 25px; }

.info-footer {
  padding: 140px 0;
  border-top: 1px solid #ddd; }
  .info-footer h3 {
    font-family: Abril Fatface;
    font-weight: 400;
    font-size: 18px;
    color: black;
    padding-bottom: 30px; }
  .info-footer ul {
    padding: 0; }
    .info-footer ul li {
      list-style-type: none;
      padding-bottom: 15px; }
      .info-footer ul li i {
        margin-left: -16px;
        padding-right: 5px;
        visibility: hidden;
        opacity: 0;
        transition: all .3s ease; }
      .info-footer ul li a {
        transition: all .3s ease;
        font-family: Poppins;
        font-weight: 400;
        font-size: 14px;
        color: black;
        color: grey; }
        .info-footer ul li a:hover {
          text-decoration: none;
          color: black;
          font-weight: 600; }
      .info-footer ul li:hover i {
        visibility: visible;
        opacity: 1;
        transform: translateX(16px); }
      .info-footer ul li:hover a {
        display: inline-block;
        text-decoration: none;
        color: black;
        font-weight: 600;
        transform: translateX(16px); }
  .info-footer .social p {
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    color: black;
    padding-top: 15px; }
  .info-footer .social a {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    opacity: .3;
    transition: all .5s ease; }
    .info-footer .social a#link-insta {
      background-image: url("img/social-v3.png");
      background-position: 0 0;
      height: 35px;
      background-repeat: no-repeat; }
    .info-footer .social a#link-fb {
      background-image: url("img/social-v3.png");
      background-position: -35px 0;
      height: 35px;
      background-repeat: no-repeat; }
    .info-footer .social a#link-tw {
      background-image: url("img/social-v3.png");
      background-position: -70px 0;
      height: 35px;
      background-repeat: no-repeat; }
    .info-footer .social a#link-sky {
      background-image: url("img/social-v3.png");
      background-position: -105px 0;
      height: 35px;
      background-repeat: no-repeat; }
    .info-footer .social a:hover {
      opacity: 1; }
  .info-footer .social h1 {
    font-family: Abril Fatface;
    font-weight: 400;
    font-size: 30px;
    color: black;
    padding-top: 10px; }
  .info-footer .social h2 {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    color: black;
    color: #888888; }
  .info-footer .social form {
    position: relative;
    margin-top: 10px; }
    .info-footer .social form input {
      outline: 0;
      border: 0;
      border-radius: 0;
      box-shadow: none;
      padding-left: 20px;
      border-radius: 40px;
      border: 1px solid #cfcfcf;
      width: 100%;
      padding-left: 20px; }
      .info-footer .social form input::-webkit-input-placeholder {
        font-family: Poppins;
        font-weight: 400;
        font-size: 14px;
        color: black; }
    .info-footer .social form button {
      outline: 0;
      border: 0;
      background: transparent;
      color: white;
      position: absolute;
      right: 20px;
      top: 10px; }
      .info-footer .social form button img {
        transition: all .3s ease; }
      .info-footer .social form button:hover img {
        transform: translateX(5px); }

footer {
  background: #f4f4f4;
  padding-bottom: 22px; }
  footer .logo-bot {
    display: inline-block;
    background-image: url("img/logo.png");
    background-position: 0 -46px;
    height: 33px;
    background-repeat: no-repeat;
    width: 104px;
    margin-top: 40px; }
  footer span {
    display: inline-block;
    font-family: Poppins;
    font-weight: 300;
    font-size: 14px;
    color: black;
    padding-top: 40px; }
    footer span#gmail-footer {
      padding-top: 45px; }
      footer span#gmail-footer a {
        font-weight: 400;
        font-size: 13px;
        color: black; }
        footer span#gmail-footer a:hover {
          text-decoration: none;
          color: pink; }
  footer i {
    padding: 0 5px; }
  footer .gmail-footer {
    text-align: right; }
  footer .copy {
    text-align: center; }

/*# sourceMappingURL=style-flower.css.map */
